h1{	 font-size:22px;
	text-align: center;
	color:#FFDEAD;
	}
h2{	text-align: center;
		font-size:25px;
	}
h3{	color:black;
		font-size: 1em;
	}
h4,h5,h6 {
		margin: 0;
		padding: 0;
		color: inherit;
		font-family: sans-serif;
		text-align:left;
	}
P{	 font-size:16px;
		color:#FFDEAD;
	}
a {
		color: white;
		text-decoration:none;
	}
#page {
		padding: 2em 1em;
	}
#header {
    color:gray;
    text-align:right;
    padding:5px;
   }
#footer{ background-color:black;
		color:white;
		clear:both;
		text-size:12px;
		text-align:center;
		padding:5px;
	}
.row {			
			float: left;
			padding: 50px 0 0 50px;
			width: 350px;
		}

.image.featured {
			position: static;
			display: block;
			margin: 0;
		}
		

.box {
		padding: 1px 1px;
		background:#DCDCDC;
		text-align: center;
		border-radius: 30px 0px 0px 0px;
	}
.container {
		text-align:center;
		width:100%;
	
	
	}
.\-4u { margin-left: 33.3333333333% }
.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

@keyframes circle { to { transform: rotate(1turn); } }

*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-o-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		background: #d84780;
		border-radius: 6px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.75em 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 1.2em;
		font-weight: 600;
		color: #FFF !important;
	}

		
		input[type="button"]:hover,
		.button:hover {
			background: #e1719d;
		}

		
		input[type="button"].alt,
		.button.alt {
			border: 1px solid #FFF;
			color: #0f1116;
		}

		
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		


}
section.special, article.special {
		text-align: center;
	}
body{margin:0; padding:0; font-size:16px; background-color:#151515; }


ul.icons {
		cursor: default;
		text-align: center;
	}

		ul.icons li {
			display: inline-block;
			padding: 0em 1em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li span {
				display: none;
			}

			ul.icons li a {
				display: inline-block;
				color: #828282;
				width: 60px;
				height: 30px;
				text-align: center;
			}

				ul.icons li a:before {
					display: inline-block;
					border: 1px solid #828282;
					width: 2em;
					height: 2em;
					line-height: 2em;
					font-size: 1em;
					color: #828282;
					border-radius: 70%;
					text-align: center;
				}
hr{
	margin: 30px 20px;
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.wrapper,.copyright {
	padding: 20px;
	text-align: center;
}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 

 
